---
# Variable setup.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

# Setup/install tasks.
- include: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- name: Ensure Redis is configured.
  template:
    src: redis.conf.j2
    dest: "{{ redis_conf_path }}"
    mode: 0644
    owner: redis
  notify: restart redis

- name: Set the kernel paramter for vm overcommit
  sysctl: name=vm.overcommit_memory value={{ redis_sysctl_overcommit_memory }} state=present ignoreerrors=yes

- name: Ensure redis is running and enabled on boot.
  service: "name={{ redis_daemon }} state=started enabled=yes"
