[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /{{ redis_conf_path }}/{{ redis_conf_file }}.conf 
ExecStop=/usr/libexec/redis-shutdown
User={{ redis_svc_user }}
Group={{ redis_svc_group }}
RuntimeDirectory={{ redis_data_dir }}
RuntimeDirectoryMode=0755
Type={{ service_type }}

[Install]
WantedBy=multi-user.target

